[2020-05-03 19:36] wAuner opened #1 "Bugreport 2FA ipadOS"
Hi,

something weird happened the first time I logged in the ipadOS app.
I‘ve setup 2FA and it asked me for the OTP code. But then it logged me in although I didn‘t enter anything.
I wasn‘t able to replicate it since then.
But I‘ve noticed something else: When open an app in multitasking mode (swipe from right, not split screen, to access my password manager) it enters some numbers which I can see

[2020-05-03 19:47] ntnhon commented on #1
Hi @wAuner, yes it is intended behaviour. The app tries to fill out the code for you if it found out that there is a code (a 6 digits only string) in the clipboard.

This is the function that does the clipboard check:

` @objc private func applicationDidBecomeActive() {
        guard let copiedText = UIPasteboard.general.string,
            copiedText.count == 6,
            let _ = Int(copiedText

[2020-05-03 20:07] wAuner commented on #1
hey @ntnhon, thanks for your quick replies.
I see why you would do that. However, it only worked 1 out of 5 times I tested it. I use 1pasword to log in and it then copies the OTP code in my clipboard.
My guess is that the clipboard access is to quick and tries to access it before 1password copies the OTP.
And the slide-over of another app seems to call this function again.
I would suggest a more p

[2020-05-04 13:42] ntnhon commented on #1
Hi @wAuner, thank you for the information. We are talking about ipadOS which has more multitask scenarios than iOS, as far as I see the clipboard check function is called only in 3 cases:
1. A slide-over app is closed (swiped up).
2. A slide-over app is chosen to be on top.
3. A slide-over app becomes split screen.

I don't use 1password so I don't know how it works. My guess is that you open Simp

[2020-05-04 14:04] wAuner commented on #1
I've just tested it again and this time I was able to reproduce the surprising behavior:
On the login screen I select the password helper on the ios keyboard and it opens 1password. 1password fills out email and password and automatically copies the OTP code in the clipboard, so that I can paste it in a specific webform (like on amazon etc). Usually that works by touch and hold and then select pas

[2020-05-04 14:41] ntnhon commented on #1
I came to this [solution](https://github.com/simple-login/Simple-Login-iOS/commit/1f42775b9ebde116a9ce9a42576146024afe6d72) using a snackbar. What do you think @wAuner ?

iPad:
![iPad](https://user-images.githubusercontent.com/4153453/80977890-a5834880-8e25-11ea-87b0-b32a9c16204e.png)

iPhone:
![iPhone](https://user-images.githubusercontent.com/4153453/80978145-f430e280-8e25-11ea-9641-dbb1c2dd2e54

[2020-05-04 14:43] wAuner commented on #1
looks great!

[2020-05-04 18:56] ntnhon commented on #1
@wAuner: the update is approved by Apple. Have a look.

[2020-05-05 07:38] wAuner commented on #1
ok I've tested it again. The snake bar looks good and works well, but the triggers (the events that call the function) aren't quite there yet. The problem remains the still the same.
![IMG_0214](https://user-images.githubusercontent.com/18383180/81043785-85459f00-8ea2-11ea-8d4c-6c4164d822f6.jpeg)
The OTP Token is copied to the clipboard when I let the password manager fill in the login data.
The c

[2020-05-05 09:15] ntnhon commented on #1
I see clearly the problem now, it is because 1password automatically copies the OTP code in the background and let user know through a notification. This is not what I expected in the current scenario which relies on application level lifecycle change (app becomes active again), which happens on app switch, not on receiving a notification which doesn't fire a lifecycle change.

I will think about

[2020-05-05 20:19] ntnhon commented on #1
@wAuner: user can now long press to paste the code (see this [commit](https://github.com/simple-login/Simple-Login-iOS/commit/6d553a38628c57b3643db08df3b1a00b8985220b)). Note that the paste tooltip is only displayed when the copied text in the clipboard is in correct format (6 digits string) otherwise nothing happens.

![IMG_4969](https://user-images.githubusercontent.com/4153453/81112004-3fc6b780

[2020-05-10 15:33] wAuner opened #2 "App crashes when tapping forwarded email address"
When I tap on the email address that has been forwarded for a specific alias the app crashes.
Happens every time on ipadOS

[2020-05-10 16:16] ntnhon commented on #2
Hi @wAuner, it is because iPad doesn't present an actionSheet (an alert that rises from bottom) as iPhone does. This is a typical bug and somehow I forgot about it in this project. Thanks a lot for pointing out.

It is fixed in this [commit](https://github.com/simple-login/Simple-Login-iOS/commit/f3c4584c8d733d767aa8a73ded0470fd2d446889).

I will make a new release for this fix and #1.

[2020-05-10 16:16] #2 closed

[2020-05-11 10:22] ntnhon commented on #1
@wAuner: the new release with this fix is approved. Let me know what you think :)

[2020-05-12 16:49] #1 closed

[2020-09-15 06:41] alanhblin opened #3 "Cannot login - status code 403"
I cannot login the ios app with my email address and password.  A message popped up "unknown error with status code 403".

SimpleLogin ios app v.1.4
iOS version 13.7
iphone X

[2020-09-15 07:47] ntnhon commented on #3
Hi @alanhblin, are you self-hosting SimpleLogin?

[2020-09-15 08:08] alanhblin commented on #3
No. I use simplelogin.io.

I set up Security Key (WebAuthn), but not TOTP.  Would that be the source of problem (perhaps because WebAuthn is not supported in iOS app)?

[2020-09-15 19:29] ntnhon commented on #3
I got it, the mobile versions haven't supported yet other login method than regular email/password and api key. Please use api key as an alternative for the moment. I will leave the issue opened and have you updated :)

[2020-09-16 02:24] alanhblin commented on #3
API key works for me. Thank you.

[2020-10-31 13:23] #3 closed

[2021-01-12 10:41] broganbrogan opened #4 "Unable to Login on the iOS App"
I am on version 1.4 I get the following error message "Unknown error with status code 403"
![unnamed](https://user-images.githubusercontent.com/58822928/104304023-b0e04680-547f-11eb-9b30-692de2f522bb.jpg)

[2021-01-12 10:47] broganbrogan commented on #4
As of 1/12/2021 you have to sign in with your API key.

[2021-01-12 10:47] #4 closed

[2021-01-12 11:10] ntnhon commented on #4
Hello, this is because the app haven't yet supported WebAuth. As you said for now you can log in using API key. Sorry for the inconvenience, we are working on it.

[2021-03-01 21:18] ntnhon opened #5 "Improve login page UX"
https://github.com/simple-login/Simple-Login-Android/issues/24

[2021-03-01 21:34] ntnhon opened #6 "Remove FULL & VIA sender format"
**FULL:** "John Doe - john.doe@example.com"
**VIA:** "john.doe@example.com via SimpleLogin"

Format that has the at sign ("@") is sometimes considered as a phishing attempt and increases the chance of the forwarded emails being put to the Spam folder.

=> Remove these 2 formats.

[2021-03-01 21:50] #6 closed

[2021-03-02 20:55] #5 closed

[2021-03-03 20:46] ntnhon opened #9 "Custom domain page"
1. List of custom domain
2. When clicking on a domain => show deleted aliases of this domain

[2021-04-02 21:28] ntnhon opened #11 "Simplify email validation"
https://www.advancedswift.com/regular-expressions/

[2021-04-04 19:14] #11 closed

[2021-04-09 16:27] nguyenkims opened #13 "Add support for WebAuthn in iOS app"

[2021-04-09 16:28] nguyenkims opened #14 "Suggest user to use Api Key if they have WebAuthn enabled"
Currently the WebAuthn isn't supported yet on iOS and the API returns 403 error. Would be nice to suggest users to use the Api Key in this case as a workaround :).

[2021-04-11 15:22] #14 closed

[2021-04-11 15:24] ntnhon opened #16 "Fix Swiftlint warnings & resolve some TODOs"

[2021-04-17 21:54] OddHouseGames opened #18 "Name & Note display in different order in browser extension vs iOS app"
The following information is displayed in a different order in both instances.

iOS Mobile App
1. Mailbox
2. Name
3. Note

Web Browser Extension
1. Mailbox
2. Note
3. Name

The order of Name/Note changes, it would be great to have a common experience in both interactions.

[2021-04-20 14:27] ntnhon commented on #18
Thank you for the feed back. We'll have it fixed soon :)

[2021-04-20 14:29] ntnhon opened #19 "Compose in default mail app"
When tapping on "Begin composing with default email", a default mail client should be opened instead of an in-app mail composer.

[2021-04-20 19:02] #16 closed

[2021-04-20 20:03] #18 closed

[2021-04-20 20:35] #19 closed

[2021-04-22 19:30] ntnhon opened #22 "Add haptic effects"
- Warning before deletion
- Soft vibration when selecting a menu, tapping a button
...

[2021-04-22 20:02] ntnhon opened #23 "Propose users to activate biometric authentication the first time they log in"

[2021-04-29 07:46] ntnhon opened #24 "Add "Do not remind me" option when prompting for reviews"

[2021-04-30 20:38] #22 closed

[2021-04-30 20:52] #24 closed

[2021-05-04 12:31] ntnhon opened #27 "Add a settings option that allows users to enable/disable haptic effects"

[2021-05-12 07:23] Sc0tTyXL opened #28 "Unable to create random alias"
Hi,

The App only has an option to create a named alias.
There is no option for a random alias (UUID or words) can this be added as it's my number 1 use-case for the app.
I've been using the mobile site to this.

Thank you

[2021-05-12 07:26] ntnhon commented on #28
Hello, you can shake the phone on homepage and the app will let you random an alias by word or UUID. I know this is not so obvious and I'm working on renewing the whole UI.

[2021-05-12 07:30] Sc0tTyXL commented on #28
O wow haha, yeah that works!

Would be great to get a physical button as I personally don't like the shake gesture.
And from a UX perspective the discoverability is low.

[2021-05-12 07:30] #28 closed

[2021-05-12 07:33] ntnhon commented on #28
Absolutely! FYI I'm working on rewriting the whole app in SwiftUI. It'll take some time but I hope the result will be worth it :)

[2021-06-18 07:01] ntnhon opened #29 "Keyboard extension"
Able to retrieve and create alias via keyboard extension

[2021-09-22 06:27] JustATechie opened #30 "Shake to generate alias via random words crashes app on iPad Pro 12.9” ios15."

[2021-09-22 06:58] ntnhon commented on #30
Hello, I'm working on rewriting & redesigning the app. There will be a random button which is more intuitive than shaking the device.

[2021-10-14 19:38] ntnhon opened #31 "Allow "." in prefix"

[2021-10-14 20:25] #31 closed, assigned to nobody

[2021-11-30 18:28] bradenglund opened #33 "Auto-generate aliasPrefix like browser extension"
The safari/iOS extension from the share sheet currently has a popup where you can type a prefix to create the new alias. The iOS version should function the same as the browser extension where it will automatically generate the `aliasPrefix` from the hostname and `signedSuffix` and pre-fill the form for you.

![2021-11-30 13_17_55-](https://user-images.githubusercontent.com/28195153/144104833-3d44

[2021-12-01 08:58] nguyenkims commented on #33
@bradenglund currently the Safari extension uses a different codebase and we plan to use the same Chrome/Firefox extension for Safari now that Safari (finally) supports the web extension API. In the next version, it's going to behave the same as Chrome/Firefox extension :)

[2022-01-12 19:19] jasperweiss commented on #28
I wish I knew this sooner 🙄
I like the uniformity of having totally random UUID address for all acounts in my password manager but I couldn't find a way to make those within the iOS app so some of them are random UUID's and some of them are named. Oh well, #firstworldproblems I guess 😅.

[2022-02-05 12:12] #27 closed

[2022-02-05 12:12] #29 closed

[2022-02-05 12:12] #9 closed

[2022-02-05 12:15] ntnhon commented on #33
The share extension can now extract the hostname from the URL. It will also try to ignore "www" to pre-fill a meaningful hostname. A new release will be available very soon.

[2022-02-05 12:15] #33 closed

[2022-02-05 12:16] ntnhon commented on #30
It will be available in the next release very soon. Please stay tuned :)

[2022-02-05 12:16] #30 closed

[2022-02-05 12:17] ntnhon opened #35 "Search page"
Implement search page for the new version

[2022-02-05 21:02] ntnhon opened #36 "Optimize for iPad"

[2022-02-05 21:05] #35 closed

[2022-02-20 18:46] #36 closed

[2022-02-21 14:19] ntnhon opened #39 "Offline list of aliases"

[2022-02-22 21:28] #23 closed

[2022-02-23 20:21] ntnhon opened #41 "Final touches for version 2.0.0"
- Handle 422 case when the account is not activated.
- Test IAP.
- Make "My account" page more informative on iPad rather than showing a blank detail page most of the time.

[2022-03-01 19:52] #41 closed

[2022-03-13 15:00] dannydarvish opened #43 "Support random alias functionality"
It would be great to support all the random alias functionality that the website has. This is my most common way of creating aliases, so the app is currently not very helpful for my use case.

[2022-03-13 20:36] #39 closed

[2022-03-13 20:42] ntnhon commented on #43
Hello, the current app does support random alias by shaking the device. It's not something intuitive so we're are working a new version with a completely new UI. It's open for beta testing via TestFlight: https://testflight.apple.com/join/atEnn7SL

Look forward to your feedback.

[2022-03-13 20:48] ntnhon opened #45 "Rename "Others" to "Advanced""

[2022-03-14 18:19] bradenglund opened #46 "App sign-in URI is blank"
Testing new testflight version 2.0.0 (20008) and I was forced to sign in again. When using the native iOS username/password auto-fill, no URI parameter is set for the login.

Setting https://simplelogin.io/ as the login URI will enable auto-fill matching for the app.

iOS v15.3.1

[2022-03-15 08:12] ntnhon commented on #46
Hello, thank you for the feedback. Are you forced to sign in again multiple times? If it's just the first time it's something expected as there is a change related to Keychain identifier.

Can you elaborate on how to set the login URI?

[2022-03-15 12:20] bradenglund commented on #46
I think this should help. I think the issue is setting Associated Domains for the app.
https://developer.apple.com/documentation/security/password_autofill/about_the_password_autofill_workflow

[2022-03-15 12:35] bradenglund opened #47 "Text wrap issue on My account page"
The descriptors for "ultra-protection" and "Force dark mode" do not wrap properly and are cut off from view. See screenshot.

![Attachment0](https://user-images.githubusercontent.com/28195153/158378488-95e56946-11c5-4d29-b1a7-9b9b80247249.jpeg)

[2022-03-17 02:44] Ghost-Recon131 opened #48 "TestFlight API login not working"
I can't login using an API key on the Testflight Build. I get a "Invalid API URL" error. API URL on default and unchanged.

Tested on
iPhone 13 Pro
Home internet connection & Cellular

![IMG_4030](https://user-images.githubusercontent.com/40227626/158726001-a310aafd-aec1-4a7e-8277-0c6d3a103a91.PNG)
![IMG_4031](https://user-images.githubusercontent.com/40227626/158726003-8a425fe5-7b24-4588-a0c3-dd8

[2022-03-17 07:30] sleeping10 opened #49 "Non active alias bug"
Hi thanks for the new look in the beta looks excellent. When you open the app and press inactive alias there is nothing until you scroll through all the alias in "all" then you can see the inactive alias. Small UI thing is inactive doesn't fit the screen as seen in the screenshot.

iOS 15.4
iPhone se (2020)
App build (20008)

![image](https://user-images.githubusercontent.com/37278143/158758392-c3

[2022-03-17 08:03] sleeping10 opened #50 "Change receiving mailbox bug"
Hi when you have made alias and want to change the mailbox receiving. Everything works but when you press done (seen in pic 2) the app makes the changes but you have to press cancel to exit that window.

iOS 15.4
iPhone se (2020)
App build (20008)

Pic 1
![image](https://user-images.githubusercontent.com/37278143/158762562-8cdf7ec2-b2b5-417f-9ed4-322183ec5301.jpeg)

Pic 2
![image](https://user-ima

[2022-03-17 08:07] ntnhon commented on #48
Hello, can you please try to force an update by resetting or editing the API URL?

[2022-03-17 08:08] ntnhon commented on #50
Hello, thank you for the feedback. I'll fix this.

[2022-03-17 08:14] ntnhon commented on #49
Hello, thank you for pointing out. This is indeed a bug in the pagination process. I'll have it fixed.

[2022-03-17 08:16] ntnhon commented on #47
Hello, I remembered fixing this bug already but maybe it's a regression after I tried to refactoring something.

[2022-03-17 08:49] Ghost-Recon131 commented on #48
Just tried and still getting the same error

[2022-03-17 08:53] ntnhon commented on #48
That doesn't make much sense to me for now. What if you log in using email & password? You also have the same error?

[2022-03-17 09:05] Ghost-Recon131 commented on #48
Email & password works fine

[2022-03-17 10:12] sleeping10 opened #51 "Offline mode bug ?"
Hi when looked at the notes for the beta it stated offline mode support when I test it out doesn't work as seen in pic 1 & 2 after I have killed the app and turn off network.
I also tried to have data load with internet on and then turn of to make offline changes that doesn't work either as seen in pic 3 screen just loading.

iOS 15.4
iPhone se (2020)
App build (20008)

Pic 1
![image](https://user

[2022-03-17 11:58] Richie2022BM opened #52 "Email in the same line."
Hello, good morning. I wanna congrats for the nice interface and new look. In the default display mode I recommend to show email all in the same line. Perhaps lowering the date position in order to show email all completed in the same line. I like the most default mode, because you have all the information in first sight. Take care guys.

[2022-03-17 12:07] Richie2022BM commented on #48
I had the same problem. The way i did it was login in my laptop and deleting 2FA and created another one, but this need to be solved. Take care guys.

[2022-03-17 20:24] #50 closed

[2022-03-17 20:34] #47 closed

[2022-03-17 21:05] #48 closed

[2022-03-17 21:17] ntnhon commented on #52
Hello Richie, thank you for your support. I fully agree that putting the email and the date in the same line makes less room for the email. I'll make the date smaller and put it in a separated line below.

[2022-03-17 21:19] ntnhon commented on #51
Hello, thank you for reporting the issue. I'll investigate more.

[2022-03-17 21:23] ntnhon commented on #47
Please update to the new build (20009) and let me know if the issue persists.

[2022-03-17 21:23] ntnhon commented on #48
Please update to the new build (20009) and let me know if the issue persists.

[2022-03-17 21:24] ntnhon commented on #50
Please update to the new build (20009) and let me know if the issue persists.

[2022-03-17 23:03] bradenglund commented on #47
Fixed

[2022-03-18 08:27] sleeping10 commented on #50
Solved 👍👍

[2022-03-18 13:34] #52 closed

[2022-03-18 15:28] Richie2022BM commented on #52
Hi, I want to thank you for listening my request. The look and feeling it's just perfect to me. If I see some other issue I will let you know. Thanks once again. Take care.

[2022-03-19 10:52] Richie2022BM opened #57 "Time showed."
Hello once again.
The date and time that is showing on default display mode is the date we created an email.
If is possible to show last reply, although we have that information when we click and able to read it. Perhaps switching that information could be more useful.

Warm regards.

[2022-03-20 19:57] sleeping10 opened #58 "Block sender in iOS?"
Hi, Will block sender feature come to the app that is already on the website?

![image](https://user-images.githubusercontent.com/37278143/159183567-26b696d7-8066-43ec-a9ba-0ee388db0b00.jpeg)

[2022-03-20 21:19] sleeping10 opened #59 "[Keyboard extension] Able to randomize aliases"
Hi, feature request. Is it possible to add new alias from the keyboard extension? For example if you are creating alias outside safari in app or messaging alias to someone where you don't have share button.

Example
![image](https://user-images.githubusercontent.com/37278143/159186530-ddba1b64-8f77-43ac-8944-b36942a38110.jpeg)

[2022-03-21 10:24] ntnhon commented on #58
Hello, yes that's right. You can now block/unblock a contact directly on the iOS app.

[2022-03-21 10:24] #58 closed

[2022-03-21 10:27] ntnhon commented on #59
Hello, technically it's possible but such "Create alias" button will complicate the UI. I'm not sure if it's worth doing. What do you think @nguyenkims?

[2022-03-21 10:30] nguyenkims commented on #59
This is a good idea but indeed complicated to add in this version, I think we can add it in the next version.

[2022-03-21 10:38] ntnhon commented on #57
Hello Richie,
Maybe we should show both creation and latest activity date? What do you think @nguyenkims?

[2022-03-21 10:42] Richie2022BM commented on #57
Oh that would be great, if you have enough room that would be awesome.
Thank you.

[2022-03-21 13:39] Richie2022BM commented on #57
Just perfect. Thanks for listening. Take care.

[2022-03-21 15:08] sleeping10 commented on #58
How can you do that can't to seem to find it ?

[2022-03-21 21:47] #57 closed

[2022-03-22 07:01] sleeping10 commented on #49
It seems like you fixed the problem nice. Animation goes up over everything but still works 👍👍

iOS 15.4
iPhone se (2020)
App build (20011)

[2022-03-23 19:48] #43 closed

[2022-03-23 20:10] ntnhon opened #61 "Ask for review"
Ask for review when these 2 criterias are fulfilled:
1. Launched more than 10 times
2. Created more than 5 aliases

Add a review option to About page so that user can manually open App Store to write review.

[2022-03-23 20:15] #45 closed

[2022-03-23 20:19] ntnhon opened #63 "Reorganize Create alias page"
- Add dropdown icon alias suffix picker
- Remove display name text field
- Make note text field higher
- Make create button below the text fields
- Make random options below create button

[2022-03-27 08:49] #46 closed

[2022-03-27 09:07] ntnhon commented on #46
Hello, please test the 20012 build and let me know if it autofills correctly.

[2022-03-27 12:06] bradenglund commented on #46
It works!

[2022-03-27 19:26] bradenglund commented on #59
Would it make sense to have it as a second keyboard? You could have one of existing and one that is to create a new alias.

[2022-03-28 20:35] ntnhon opened #65 ""Upgrade needed" page"
Show a page with explanation when the user reaches the limit.

[2022-03-28 21:10] #63 closed

[2022-03-30 20:00] #65 closed

[2022-04-02 12:11] #61 closed

[2022-04-02 12:14] ntnhon opened #69 "Customize tab bar"
Make create alias an option at the center of the tab bar. Alias create page will be shown as a modal instead of a normal tab.

The tab bar contains 5 tab in total: Aliases - Advanced - Add - My Account - About

[2022-04-02 13:25] nguyenkims commented on #69
@ntnhon about the last 2 items, can they be Settings and My account? We can move some settings related to user account to My account and the rest in Settings.

<img width="174" alt="image" src="https://user-images.githubusercontent.com/3167780/161385355-a6311268-f24d-4680-9911-45e45ab4e111.png">

[2022-04-02 16:05] ntnhon commented on #69
So where should About be?

[2022-04-07 20:04] #69 closed

[2022-04-07 20:13] ntnhon commented on #69
I find it's a bit confusing to the users. Where should "Haptic feedback" & "Force dark mode" go?
I think My Account should contain everything that is related to the functionality of the account and Settings contains all the settings that affect the functionality of the application.

My account:
- Upload/remove profile photo
- Update display name
- Newsletters
- Random mode
- Default domain
- Rando

[2022-04-08 09:34] nguyenkims commented on #69
@ntnhon the proposition looks good to me!

[2022-04-08 19:15] ntnhon opened #71 "Reorganize My Account tab"
My account:
- Upload/remove profile photo
- Update display name
- Newsletters
- Random mode
- Default domain
- Random alias suffix
- Sender address format

Settings:
- TouchID/FaceID
- Ultra protection
- Haptic feedback
- Force dark mode
- Alias display mode
- Keyboard extension
- About

[2022-04-09 10:01] #71 closed

[2022-04-09 10:03] ntnhon opened #73 "Refactor AlertToast"

[2022-04-12 20:12] #73 closed

[2022-04-12 20:18] ntnhon opened #75 "Optimize Settings view on iPad"
Show About view as a default detail view

[2022-04-12 20:29] #75 closed

[2022-04-13 18:42] ntnhon opened #77 "Update aliases list UI"
- Show notes
- Remove leading vertical line
- Remove background color when the alias is active

[2022-04-13 19:20] #77 closed

[2022-04-14 14:11] wizard86pz opened #80 "Add possibility to block sender of a specific alias"
As for the web-app.

![image](https://user-images.githubusercontent.com/36189429/163408680-81185554-7cb4-4346-81a3-1d1695a0930c.png)

[2022-04-14 14:17] ntnhon commented on #80
Hello, you can now block senders directly from the iOS app. The new version is currently in public beta, you can test it via TestFlight: https://testflight.apple.com/join/atEnn7SL

[2022-04-14 14:17] #80 closed

[2022-04-14 14:23] wizard86pz commented on #80
Thanks for info. I've started to use the iOS TF beta yesterday. I've not found a way to do it.

Can you please tell me how to do it, so I can be sure there is not an issue to report about? Thanks in advance.

Using v2.0.0 (build 20016).

[2022-04-14 14:35] ntnhon commented on #80
Yes of course! You can tap on the "Send email" button to open the contact list of an alias and then tap on a contact to reveal a list of options in which you'll find "Block" or "Unlock".

[2022-04-14 14:41] ntnhon commented on #80
You're most welcome :)
Looking forward to your other feedback.

[2022-04-14 20:25] ntnhon opened #81 "Create alias page - show suffix domain type"

[2022-04-14 21:18] #81 closed

[2022-04-15 08:48] Richie2022BM opened #83 "For an easier view and good feel."
Hello, the new feature of creating alias it's great, but now won't fit custom (where you type ) if is a bit too long. Perhaps lowering the premium or public domain word might fit everything.

I also appreciate if can be bigger the custom words or number that you are given, perhaps in white color, just like the mailbox at the button. Thanks you and good luck guys.

[2022-04-15 08:58] ntnhon commented on #83
Hello, this is indeed a SwiftUI problem. In iOS 14 it works fine but in iOS 15 the dropdown list is rendered differently (with the domain type instead of without). We had a discussion and we'll make the suffix picker like the one of mailboxes (push a new page instead of a dropdown list).

[2022-04-16 07:04] ntnhon commented on #83
Hello,  new build (20018) is available.

[2022-04-17 11:26] wizard86pz opened #85 ""Copy reverse-alias" command does not copy anything"
As on the title. The issue is happening in both commands, with and without display name.

iOS app beta, v2.0.0 (20018).

![image](https://user-images.githubusercontent.com/36189429/163712310-b207a1c4-abb7-4b1c-8045-011dfa89c177.jpeg)

[2022-04-17 20:20] ntnhon commented on #85
Hello, are you sure you have the beta build installed? Because we no longer use that prompt. You should see something similar to this
![image](https://user-images.githubusercontent.com/4153453/163730828-8ffb410d-a394-4508-a965-5b94955281e7.jpeg)

Anyway I can't reproduce the bug on both live app and beta build.

[2022-04-17 20:47] wizard86pz commented on #85
Yes, I'm sure :) Using the following path, you'll able to reproduce the issue:

1. from the "Aliases" section of the app, press on an alias email
2. press on any email that sent an email to the alias

You'll see the "old" prompt.

Using the following path (the one you've shown in the screenshot), there will be no issues:
1. from the "Aliases" section of the app, press on "send email"
2. press on a

[2022-04-17 21:04] wizard86pz commented on #85
Another thing that pushes me to think that prompt is un-intended is that, strangely, the 3rd command there, does its job perfectly :) It works and open the default email app on the device, pasting the reverse-alias email.

![image](https://user-images.githubusercontent.com/36189429/163731938-c480e861-0172-4450-a80e-266f93d7472e.png)

[2022-04-18 06:47] ntnhon commented on #85
Yes you're right, thank you 👍
I'll have it fixed later this week when I come back from holidays. I'll keep you posted.

[2022-04-22 10:39] #83 closed

[2022-04-22 12:02] jmreekes opened #87 "Error Message when changing custom domain settings in v2 beta (build 20018)"
I am getting a “The data couldn’t be read because it is missing” error message when I enable or disable the Auto create/on the fly alias setting or the random prefix generation setting for a custom domain in the app. Even though the app is generating this message, the setting change IS reflected on the web app.
![0EA56009-F392-4269-8A41-4606F806611A](https://user-images.githubusercontent.com/17210

[2022-04-22 12:09] ntnhon commented on #87
Hello, this error message is raised when the app doesn't receive the response in the format it expects. I'll have it fixed. Thank you for your report.

[2022-04-22 12:23] #85 closed

[2022-04-22 13:14] #87 closed

[2022-04-22 13:22] ntnhon opened #89 "Update Alias Detail UI"
Make more room for important details (notes, mailboxes...) & less room for less important ones (creation date, display name...)

[2022-04-22 13:27] ntnhon commented on #87
This should be fixed in build 20019

[2022-04-22 13:28] ntnhon commented on #85
Hello, I just made a new build 20019 containing the fix.

[2022-04-22 13:29] wizard86pz commented on #85
Yes, noticed, updated and verified: it's fixed in build 20019. Thanks.

[2022-04-23 20:29] wizard86pz commented on #89
I like more now :)
Build 20020.

[2022-04-23 20:30] wizard86pz commented on #49
Is this still open @ntnhon? Maybe it needs to be closed? Just guessing.

[2022-04-23 20:35] wizard86pz opened #91 "The alias domain is shown on two lines (bad UI) sometimes"
Hello,
as in the title. It seems to be related to the random part between the dot (.) and the "@". If those random chars are graphically too wide, the app will show the whole alias's domain on two lines.

Affected build: 20020.

A couple of examples of the issue:

![IMG_6024](https://user-images.githubusercontent.com/36189429/164945182-08fbcb23-d247-4d5f-bef0-a72a4f471ee4.jpg)
![IMG_6023](https://

[2022-04-24 06:32] ntnhon commented on #49
It still bugs whenever the first 20 aliases contain no inactive aliases. I'll try to fix it.

[2022-04-24 06:36] ntnhon commented on #91
Hello, this is expected behavior to ensure that custom prefix textfield always have enough room. I though about it and so far don't have any better idea except showing prefix and suffix in 2 separated lines which makes it feels less natural. What do you think @nguyenkims?

[2022-04-24 06:45] ntnhon commented on #89
@wizard86pz Thank you! Do you find any issue so far? If not I'll just do some minor changes and merge.

[2022-04-24 07:15] #89 closed

[2022-04-24 07:16] ntnhon opened #92 "Update Custom Domain Detail UI"

[2022-04-24 11:37] ntnhon opened #93 "New mailbox prompt"
Use alert with textfield instead of showing a modal sheet

[2022-04-24 17:11] nguyenkims commented on #91
@ntnhon maybe we can use less space for the custom prefix and more for the suffix? Otherwise I think that's ok to show on 2 lines as phone screen width is quite limited.

[2022-04-24 17:26] wizard86pz commented on #91
For what it matters, I like this. I'm facing this on iPhone 12. Not a very small device/screen.

[2022-04-24 19:39] #93 closed

[2022-04-24 20:51] wizard86pz commented on #91
I like it, thank you.

![image](https://user-images.githubusercontent.com/36189429/164996058-3790eafe-3d6b-4a6e-b052-a4b899b2d8f4.jpeg)

[2022-04-24 20:54] ntnhon opened #96 "Refactor My Account tab"
Make custom default domain picker & sender address format picker

[2022-04-24 20:54] wizard86pz commented on #89
I'm doing my best to check the app in everything point. I thinking you are starting to know that I'll open issues as soon as I see something I suppose is not in tended...or that can be improved, possibly.

[2022-04-24 20:55] ntnhon commented on #91
@wizard86pz You're most welcome! I'm glad that you like it :)
I'll wait a bit for eventual feedbacks.

[2022-04-24 20:56] ntnhon commented on #89
@wizard86pz thank you for your help 👍

[2022-04-25 08:43] #91 closed

[2022-04-25 12:30] wizard86pz opened #98 "After to have created a new alias email, reopening the app, the new alias creation prompt is always shown"
As in the title.

This is the interested prompt:

![image](https://user-images.githubusercontent.com/36189429/165088979-7c0ab553-5765-452f-9fe5-83571e0faaf6.jpeg)

I've fixed it only killing the app from recent ones, and then re-openning it. Once I create a new alias, the issue happens again.

Build 20021.

[2022-04-25 20:47] ntnhon commented on #98
Which iOS are you on? I can't reproduce it on iOS 14.2 and 14.7.1
Anyway I just made some changes related to this prompt, please test the build 20022 and let me know if it persists.

[2022-04-25 20:50] wizard86pz commented on #98
I'm from iO 15.4.1 (19E258).

Just reproduced on build 20022 too.

[2022-04-25 20:51] ntnhon commented on #98
Okay thank you, I'll try to fix it.

[2022-04-25 20:53] wizard86pz commented on #98
Another info to confirm that there is an issue:

1. create an alias
2. switch to another app
3. switch back to the SimpleLogin app
4. delete the alias object of the new alias creation prompt

The prompt continues to be shown to every switch back to the app, or opening it via icon app.

[2022-04-26 07:16] #96 closed

[2022-04-26 07:24] ntnhon opened #99 "Contact list paging bug"
The app doesn't load more contacts

[2022-04-26 08:03] #99 closed

[2022-04-26 16:41] wizard86pz opened #101 "[enhancement] Hide the note space if the alias as no any note associated"
As in the title, I think that would help to gain more space. The UX would be marginally touched, almost not touched I'd say. That note icon near the note space does not allow to directly edit the note, so the mechanism to create/edit a note would not change at all.

![image](https://user-images.githubusercontent.com/36189429/165350413-9efd8bea-e5eb-442c-b202-0e89356d1aaf.png)

[2022-04-26 19:26] #92 closed

[2022-04-26 19:28] ntnhon commented on #101
Hello, I saw and fixed this while working on other issue. Thanks for reporting anyway, please keep doing 👍

[2022-04-26 19:28] #101 closed

[2022-04-26 19:46] wizard86pz commented on #98
Got it, I'll try to find the triggering condition. I'll let you know in case I found something.

[2022-04-27 08:49] wizard86pz commented on #98
@ntnhon I think to have found the triggering condition: in the app settings, you need to enable the "Ultra-protection" feature. I can reproduce the issue only under this condition.

[2022-04-27 08:50] wizard86pz commented on #101
Confirmed the fix in build 20023. Thanks again.

[2022-04-27 08:51] ntnhon commented on #98
@wizard86pz You're right, I can now reproduce and that makes more sense now. A huge thank to you!

[2022-04-27 08:52] ntnhon commented on #101
You're most welcome!

[2022-04-27 09:38] #98 closed

[2022-04-27 19:33] wizard86pz opened #104 "Main email is shown as name, if the account has no name"
As in the title, the email is shown on the top of the "My account" section of the app. I'm not sure if this is intended. Could be taken in count the possibility to not show anything, since the email is already shown near the profile pic zone?

Build 20024.

[2022-04-27 19:35] wizard86pz opened #105 "No way to sync the "my account" section info"
No way to sync the "my account" section info without remove the app from the recent ones, killing it, and re-opening it.

Scrolling the section do not trigger a forced sync.

It could be taken in consideration in case of any change on web, to see updated info on iOS app too.

Build 20024.

[2022-04-28 13:29] ntnhon commented on #105
Hello, this is done. I'll make a new build later.

[2022-04-28 13:29] #105 closed

[2022-04-28 13:35] #104 closed

[2022-04-28 14:11] wizard86pz commented on #104
Thanks, I like it even more than my suggestion!

[2022-04-28 17:36] #49 closed

[2022-04-28 19:18] ntnhon opened #109 "Add newly created alias to top of the list"

[2022-04-28 19:19] ntnhon commented on #105
Thank you! I'll try to fix it later.

[2022-04-28 19:31] wizard86pz commented on #105
Thanks. Are you able to reproduce it?

[2022-04-28 19:37] ntnhon commented on #105
Yes, on a device with iOS 15. The one I use for development is in iOS 14 that's why I don't see the bug in the first place.

[2022-04-28 19:38] wizard86pz commented on #105
Got it. Not problem. I'm happy to cover iOS 15 users.

[2022-04-28 19:47] ntnhon commented on #105
I'm graceful that you literally do the job of a QA. People don't always upgrade iOS even though they can. So I leave my development phone in iOS 14 on purpose because it's easy to upgrade but almost impossible to downgrade 😄

[2022-04-28 19:56] wizard86pz commented on #105
Yeah, this has sense.

[2022-04-29 05:19] #109 closed

[2022-04-29 08:20] ntnhon opened #111 "Alias detail page enhancement"
- Able to refresh
- Remove header padding for iOS 15

[2022-04-29 08:50] #111 closed

[2022-04-29 10:58] #59 closed

[2022-04-29 11:08] ntnhon commented on #51
Hello, please update to the latest build (20026) and let me know if the issue persists.

[2022-04-29 11:10] ntnhon commented on #105
Well, I didn't really fix it, it's fixed by itself 😅

[2022-04-29 11:23] wizard86pz commented on #105
So strange, I really can't reproduce it longer.

[2022-04-29 11:53] ntnhon opened #114 "Wordings fix"
- "Unwanted" -> "Unwelcome"
- Custom Domain Detail page: remove creation date

[2022-04-29 13:04] bradenglund commented on #59
I like it! Could a third/ fourth option be added where you create based on url prefix with preset domain?

[2022-04-29 14:00] #114 closed, assigned to nobody

[2022-04-29 17:21] ntnhon commented on #59
@bradenglund thank you! I believe in most cases when users want more control over their aliases, they'd use the main app instead of the keyboard extension. I think it's better to keep the extension simple and compact. Please feel free to open a feature request [here](https://github.com/simple-login/app/discussions/categories/feature-requests), I'd love to see if people are interested in such optio

[2022-04-29 23:59] sleeping10 commented on #51
It's still the same

[2022-04-30 13:52] bradenglund commented on #59
So I was viewing it as an efficient way to generate usernames for a site while adding a new login in bitwarden. I thought that could be one of the easiest ways to integrate with a password manager. I now see on [this post](https://github.com/simple-login/app/discussions/412) that maybe some progress is being made? Or at least we could use a catch-all domain for it through the new bitwarden generat

[2022-05-01 12:37] sleeping10 opened #116 "Add back button here"
Hi, when you want to send an email via an alias and press the button “send mail” works fine from “all,” active,” and inactive. They all have back button. But when you search for for aliases and press send the back button is not there looks like you are stuck. You can go back by sliding down, but it took time to understand that.

Back button
![image](https://user-images.githubusercontent.com/372781

[2022-05-01 12:50] wizard86pz commented on #116
Nice catch! I can reproduce it.

iOS 15.4.1.
Client build 20026.

[2022-05-02 06:53] ntnhon commented on #116
Hello, thanks a lot for reporting. I'll fix this soon.

[2022-05-03 13:24] nguyenkims opened #117 "Use website name when creating a new alias via the keyboard"
Currently a totally random alias is created. For example in the below screenshot, the alias is created on reddit but doesn't contain the reddit prefix.

It'd be nice the website can be used to create the alias:

![image](https://user-images.githubusercontent.com/3167780/166460955-f34125ef-de15-42e7-9d33-65ff4d9c169b.png)

[2022-05-03 14:14] ntnhon commented on #117
This is impossible because the keyboard doesn't have knowledge about such information. Share Extension is more appropriate in this case.

[2022-05-03 14:56] nguyenkims commented on #117
I see, we can maybe consider adding a full keyboard in SL in the future then. https://getkeyboardkit.com/ seems promising.

[2022-05-03 14:56] #117 closed

[2022-05-03 15:02] ntnhon commented on #117
Yes I know this library and the author. We can consider using it to make a full-fledged keyboard later.

[2022-05-04 09:28] ntnhon opened #118 "[Share Extension] Able to share a text"
For now the Share Extension can only be open if the users share an URL. Make it able to also handle a text, try to detect the URLs available in the text, pick the first URL if there are many and continue the flow as normal. If the text contains no URLs, make the text the default notes of the alias.

[2022-05-04 12:28] bradenglund commented on #118
I see you closed #117 already. I think we're all going the same direction here in what we want/need in terms of functionality. If the keyboard cannot access the URL, I see how that that could be challenging to implement.

It feels like we are trying to come up with a workaround for system limitations.

[2022-05-05 10:05] ntnhon commented on #118
Yes it's kind of a workaround as you said. I think it's a tiny easter egg which is not really necessary but nice to have.

[2022-05-10 11:58] wizard86pz opened #119 "Once a new alias is created, is always shown at the top of the alias list"
As in the title.

STR

0. Do have at least one existing alias as pinned on top
1. create an alias

**Actual behaviour**
The just created alias is always shown on the top of the alias list. It does not matter if you sync the list again, and again. It will always shown on the top even if the user has a pinned alias.

**Expected behaviour**
The just created alias is shown on the top of the alias list

[2022-05-13 19:34] ntnhon opened #121 "Long contact email alignment"
Should be left aligned
![IMG_914D97CBA686-1](https://user-images.githubusercontent.com/4153453/168377100-2110f773-68c8-48f8-80a8-24524e64aadd.jpeg)

[2022-05-13 19:50] #121 closed

[2022-05-13 22:02] wizard86pz commented on #119
Fixed in build 20027.

[2022-05-14 08:16] #118 closed

[2022-05-14 08:17] #119 closed

[2022-05-24 07:53] wizard86pz opened #125 "Opening the app, the list of aliases is not updated"
As in the title. I think that when the user opens the app, it's supposed to see an updated status of his aliases list, so the app should probably make a sync at the launching. The user needs to manually swipe down the list from the top, to see updated list of aliases created by SL keyboard, or by other client, or via web app.

TF build 20028.

[2022-05-24 14:34] ntnhon commented on #125
Opening an app can have 2 scenarios:
1. App is killed: app is launched and it will load the latest list of aliases
2. App is in background: app goes back to foreground and it does nothing.

I think you're talking about the 2nd scenario. Can you confirm please?

[2022-05-24 15:24] ntnhon commented on #125
Okay, I see. Real time sensitive apps like facebook, such behaviour is expected but in the case of a simple app like SL it's not really necessary in my opinion. Take the SL web app for example, an equivalent of what you are talking about is to have the web app refreshes itself every time you go back to SL tab from another tab.

[2022-05-28 06:44] #125 closed

[2022-06-05 17:13] GregBnt opened #126 "Add contact function (reverse alias creation and sender block)"
Hello, to make the application even more practical, it would be necessary to add the "contact" button for each alias (as on the web version). In order to be able to create a reverse alias by entering a contact (point 1), or to be able to block senders in each alias (point 2).

![CleanShot 2022-06-05 at 19 07 23@2x](https://user-images.githubusercontent.com/106819553/172061997-ce0f6194-f806-4872-a4

[2022-07-27 15:49] wizard86pz commented on #116
Still reproducible in latest TF beta build 2.0.0 (20029).

[2022-07-28 09:22] #116 closed

[2022-07-28 09:33] wizard86pz commented on #116
Fixed confirmed in build 20030. Thanks.

[2022-07-28 10:06] wizard86pz opened #130 ""send email" button does not work from the alias search result list"
1. Search for an alias;
2. press on the search result;
3. tap on "send email".

Result: nothing happens.

Desired: to have a working button.

Involved build: TF v2.0.0 (20030).

[2022-07-28 10:06] wizard86pz opened #131 ""mailboxes" menu does not work from the alias search result list"
1. Search for an alias;
2. press on the search result;
3. tap on "MAILBOXES" menu.

Result: nothing happens.

Desired: to have a working menu.

Involved build: TF v2.0.0 (20030).

NOTE: not always reproducible. The "mailboxes" menu is generated, but on an hidden layer, somehow. Indeed if you come back to the search result, press on the same search result and then on the "mailboxes" menu, it appear

[2022-07-28 10:10] wizard86pz opened #132 ""DISPLAY NAME" input filed does not work from the alias search result list"
1. Search for an alias
2. press on the search result
3. tap on "DISPLAY NAME" input field

Result: nothing happens

Desired: to have a working input field.

Involved build: TF v2.0.0 (20030).

NOTE: not always reproducible. The "DISPLAY NAMES" menu is generated, but on an hidden layer, somehow. Indeed if you come back to the search result, press on the same search result and then on the "DISPLAY N

[2022-07-28 11:21] ntnhon commented on #126
Hello, indeed there's "Send email" button which offers what you say. I renamed it from "Send email" to "Contacts" to make it the same as the web version and less confusing.

[2022-07-28 11:23] #126 closed

[2022-07-28 11:32] ntnhon opened #134 "Various UI fixes"
- Improve MainView
- "Log in with Proton" button's width on iPad
...

[2022-07-28 11:33] GregBnt commented on #126
Hi, thank you for this addition, but it lacks the ability to block or unblock contacts. Currently you can only copy reverse alias but not block or unblock a mail.

[2022-07-28 11:46] ntnhon commented on #126
Yes you can by just tapping on the contact. A menu will pop out and there's a block option.
![Screenshot 2022-07-28 at 13 45 08](https://user-images.githubusercontent.com/4153453/181497321-a455d3bd-65be-4306-a2aa-fbcde43f8684.png)

[2022-07-28 11:55] GregBnt commented on #126
I am on version 20030 and I do not have this addition. :/
![photo_5987672577063106855_y](https://user-images.githubusercontent.com/106819553/181498967-7345f728-bb2a-4de3-a260-92cbc7a7680b.png)

[2022-07-28 12:08] ntnhon commented on #126
Ah you're right we were talking about different pages. I was talking about "Contacts" page. The page you are showing is "Alias detail" page. Currently both mobile apps and web app don't support block/unblock from this page.

[2022-07-28 12:18] GregBnt commented on #126
What do you mean by the "contact" page? Is this on the TestFlight beta? Cau on my app, I only have "Aliases, Advanded, Settings and My Account".

[2022-07-28 12:26] ntnhon commented on #126
"Contacts" page is accessible either by tapping this "Send email" button
![IMG_1C26D3DED06C-1](https://user-images.githubusercontent.com/4153453/181504356-1fa122cc-bbcc-4987-a21b-d95a7c8fceda.jpeg)
Or this

![IMG_079A9D993D32-1](https://user-images.githubusercontent.com/4153453/181504526-7d698816-4f8b-4ecf-9c26-de0c55598422.jpeg)

Which I recently change to "Contacts" instead of "Send email" to av

[2022-07-28 12:36] GregBnt commented on #126
Oh great, I found it, thank you so much. Indeed, with the name change, it will be clearer. :)

[2022-07-28 12:39] ntnhon commented on #126
You're welcome :)

[2022-07-28 13:48] #134 closed

[2022-07-28 14:45] #130 closed

[2022-07-28 14:46] ntnhon commented on #131
Fixed in #136

[2022-07-28 14:46] #131 closed

[2022-07-28 14:46] ntnhon commented on #132
Fixed in #136

[2022-07-28 14:46] #132 closed

[2022-07-28 20:37] wizard86pz commented on #130
Fixed in TF beta v2.0.0 (20031). Thanks.

[2022-07-28 20:37] wizard86pz commented on #131
Fixed in TF beta v2.0.0 (20031). Thanks.

[2022-07-28 20:37] wizard86pz commented on #132
Fixed in TF beta v2.0.0 (20031). Thanks.

[2022-07-29 15:01] wizard86pz opened #138 "Add templates in the alias display mode settings"
Hello,
I'd suggest to add templates/graphical examples of the 3 modes, while the user is selecting the desired alias display mode.

This would help to immediately get the differences in terms of details/info that the user will/will not see in the alias list.

I mean here:
![image](https://user-images.githubusercontent.com/36189429/181788165-497d9dd7-4f53-42d1-94b3-10813d95cb07.png)
![image](https:

[2022-07-29 15:15] wizard86pz commented on #138
@nguyenkims what do you think?

[2022-08-01 14:13] ntnhon commented on #138
I think @wizard86pz is talking about making the preview more clear by providing sample data for each display mode instead of just grey boxes.

[2022-08-01 14:15] ntnhon commented on #138
Like "Context menu" example on tips page
![IMG_204804879ADB-1](https://user-images.githubusercontent.com/4153453/182167745-66a70663-9fa3-4d77-89c3-2c11e5b0d58c.jpeg)

[2022-08-01 14:17] ntnhon commented on #51
Can you please check again with the latest build (20031)

[2022-08-01 14:28] wizard86pz commented on #138
Yes @ntnhon, that's what I meant. Thanks.

[2022-08-01 18:48] nguyenkims commented on #138
@wizard86pz @ntnhon Oh I see, in this case this totally makes sense 👍

[2022-08-03 14:07] #138 closed

[2022-08-05 01:17] darkfence opened #142 "The data couldn't be read because it is missing"
After updating to the new version of the SL iOS app I am unable to use it with my self-hosted SL. Logging in works, my aliases are showing but I’m unable to create a new one or edit existing alias. Every action ends with empty screen with mentioned error “The data couldn’t be read because it is missing”.

I am using 2.0.1 version of iOS client and simplelogin/app:3.4.0 on my server.

[2022-08-05 07:02] nguyenkims commented on #142
@darkfence the new ios version uses some endpoints that are only available in the next self-hosted version, I'd recommend to upgrade to this version on  https://github.com/simple-login/app/tree/4.6.2-beta

It's currently beta and will be made public soon.

[2022-08-09 11:36] ntnhon commented on #142
Please update your self-hosted SL and feel free to reopen if the issue persists.

[2022-08-09 11:36] #142 closed

[2022-08-09 11:36] #51 closed

[2022-08-21 21:58] Heziode opened #143 "The data could not be read because is missing"
When I attempt to acces to the "My Account" tab, I got the following message: `the data could not be read because is missing`

# Context

**App version**: latest (2.1.0)
**iOS version**: 15.6
**instance**: custom instance
**login method**: email + password, since I got the same error as describe here, when I attempt to use the API Auth.

Remark: API Auth work with browser extension

[2022-08-22 09:36] nguyenkims commented on #143
Can you upgrade the self host instance to the latest version which is https://github.com/simple-login/app/tree/4.6.2-beta ?

[2022-08-22 20:57] Heziode commented on #143
Ok, I check that this week.

Is there a way to check the current version of the running Simple Login instance? The version is not show on the dashboard, and I cannot find a way to see it with the docker container (I build a version from a specific commit, not from the docker hub)

[2022-08-23 08:11] nguyenkims commented on #143
You can go to `{URL}/git` which should return the Git SHA1 that the code is running on.

[2022-08-30 14:08] Heziode commented on #143
Hi @nguyenkims I am trying to update from [simple-login/app/67dad33b700d86c9364092f8efa32fe289fcc5e0](https://github.com/simple-login/app/commit/67dad33b700d86c9364092f8efa32fe289fcc5e0) to [4.6.2-beta](https://github.com/simple-login/app/tree/4.6.2-beta) but it seems it does not work properly, when I follow the instruction in upgrade:

[code]

Where `local/simple-login-app:4.6.2-beta` is my clone

[2022-08-30 14:28] Heziode commented on #143
Ok, I have updated to the `simplelogin/app:4.6.2-beta` version, and the problem is still here

[2022-08-30 20:44] nguyenkims commented on #143
Can you try to upgrade to our currently running version which is `simplelogin/app-ci:v4.14.0` and check if the issue is still there?

[2022-08-30 21:19] Heziode commented on #143
I updated to `simplelogin/app-ci:v4.14.0 `, now I got a new error: "Unknown error with status 500" 😂:

[code]

[2022-09-01 19:46] nguyenkims commented on #143
This error has been fixed in `simplelogin/app-ci:v4.14.3`, can you please try this version instead?

[2022-09-01 19:50] Heziode commented on #143
This, and a succession of other problems, led me to abandon self-hosting. I migrated my domain name directly to the version managed by you.

With the managed version, there is no problem with the app :)

[2022-09-01 19:59] nguyenkims commented on #143
@Heziode as the iOS version release cycle is independent to the self-hosting release calendar, discrepancies can unfortunately happen ... We'll try to release the server code more often so the 2 versions stay compatible.

[2022-09-01 20:07] Heziode commented on #143
I know that the validation process on iOS can be a bit boring, so, courage 💪

(I always managed to dev PWA to avoid developing an app for Android and iOS 😂)

[2022-09-02 07:52] nguyenkims commented on #143
@Heziode thanks :). We use some features like keyboard extension, share menu, etc. that require a native apps so PWA isn't an option for us.

[2022-09-02 11:10] Heziode commented on #143
I have just tested with the latest version `v4.14.4` on the custom instance, and it works now.

I close this issue since the problem is solved.

[2022-09-02 11:10] #143 closed

[2022-09-05 05:51] Heziode opened #145 "Share extension feature does not work"
It seems that this feature is missing on iOS, even if the tips is shown:

![1](https://user-images.githubusercontent.com/16735076/188369592-b491017a-2d38-44a0-a275-fee71c29c95c.jpeg)

![2](https://user-images.githubusercontent.com/16735076/188369597-51aca61e-8055-48c5-bff9-399822d4b25d.jpeg)

![3](https://user-images.githubusercontent.com/16735076/188369598-85310191-6f26-4ad2-b23e-7ec7dd469e63.jpe

[2022-09-05 05:59] Heziode commented on #145
Misunderstanding of the functionality. You have to look for the app, not the action...

![4](https://user-images.githubusercontent.com/16735076/188370607-b1bacb55-7dcd-45bf-bc4f-a8a99cea1b1b.jpeg)

![5](https://user-images.githubusercontent.com/16735076/188370610-ad69f4f8-0198-4e0b-9d27-37b489f60b28.jpeg)

[2022-09-05 05:59] #145 closed

[2022-09-14 12:26] wizard86pz opened #148 "Impossible to force the alias list updating/sync scrolling down"
As in the title.

STR:
1. open the app and go to the "Aliases" section
2. scroll down the list from the top

There is no forced sync.

Workaround: switch to the active or inactive tab, go back to the All on and you'll able to trigger the manual sync, scrolling down the list.

Note: appeared only after iOS update to v16.

iOS 16.0 (20A362)
Client: 2.2.0 (build 22000).

[2022-09-14 15:42] ntnhon commented on #148
Hi, thanks for reporting. I'll investigate and try to fix this.

[2022-09-15 17:05] wizard86pz commented on #148
Updated STR:

1. open the app
2. Go back too home screen
3. go to the "Aliases" section if you've left the app from a different section
4.scroll down the list from the top

[2022-10-21 12:33] ntnhon commented on #148
Hello, sorry for the delay. It should be fix with the new version 2.3.0.

[2022-10-21 12:33] #148 closed

[2022-10-21 16:32] wizard86pz commented on #148
It is, thanks!